* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.btn-primary {
  padding: 1rem 3rem;
  color: white;
  background-color: #ff52bf;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  -webkit-box-shadow: 0 1px 15px -10px #00252e;
          box-shadow: 0 1px 15px -10px #00252e;
  margin-bottom: 2rem;
  cursor: pointer;
}

.btn-secondary {
  padding: 0.75rem 1.5rem;
  color: #ff52bf;
  background-color: white;
  font-size: 0.9rem;
  border: 1px solid #ff52bf;
  border-radius: 2rem;
  -webkit-box-shadow: 0 1px 15px -10px #00252e;
          box-shadow: 0 1px 15px -10px #00252e;
  cursor: pointer;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .heading-1 {
    font-size: 2.25rem;
  }
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .heading-2 {
    font-size: 2rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.header {
  padding: 2rem 0;
}

.header .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .logo {
  width: 175px;
}

.hero {
  text-align: center;
  padding: 2rem 0;
}

.hero p {
  max-width: 700px;
  margin: 0 auto 2rem;
}

.hero-img {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 4rem auto;
}

.hero .flex {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero .flex-item {
  text-align: left;
  margin: 2rem 0;
}

.hero .count {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.hero .count-label {
  text-align: center;
  font-weight: 600;
  color: #a7b9c8;
  font-size: 1.25rem;
}

.grow {
  background-color: #f5faff;
  background-image: url(../images/bg-section-top.svg), url(../images/bg-section-bottom.svg);
  background-size: 500px;
  background-position: top center, bottom -1px center;
  background-repeat: repeat-x;
  padding: 200px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .grow {
    text-align: left;
    background-size: 1200px;
  }
}

.grow .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .grow .flex-item {
    width: 600px;
  }
}

.grow img {
  width: 100%;
  margin-bottom: 4rem;
}

.flowing {
  padding: 120px 0 120px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .flowing {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .flowing .flex-item {
    width: 600px;
  }
}

.flowing img {
  width: 100%;
  margin-bottom: 4rem;
}

.users {
  background-color: #f5faff;
  background-image: url(../images/bg-section-top.svg), url(../images/bg-section-bottom.svg);
  background-size: 500px;
  background-position: top center, bottom -1px center;
  background-repeat: repeat-x;
  padding: 200px 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .users {
    text-align: left;
    background-size: 1200px;
  }
}

.users .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .users .flex-item {
    width: 600px;
  }
}

.users img {
  width: 100%;
  margin-bottom: 4rem;
}

.call-out {
  padding: 200px 0;
  text-align: center;
}

.footer {
  background-color: #00252e;
  background-image: url(../images/bg-footer-top.svg);
  background-size: 500px;
  background-position: top center;
  background-repeat: repeat-x;
  padding: 150px 0 1rem;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer {
    background-size: 1300px;
    padding: 200px 0 1rem;
  }
}

.footer .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .footer .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .footer .flex-item {
    width: 600px;
  }
}

.footer .heading-2 {
  margin-bottom: 1rem;
}

.footer .flex-item {
  margin-bottom: 3rem;
}

.footer .logo {
  width: 170px;
  margin-bottom: 2rem;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.footer-info img {
  margin-right: 1rem;
}

.footer-info p {
  margin: 0;
}

.footer-info a {
  color: white;
  text-decoration: none;
}

.footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.footer .subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer .subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .subscribe #email {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer .subscribe #email {
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}

.footer .subscribe-btn {
  display: block;
  padding: 0.75rem 2rem;
  border-radius: 0.25rem;
  width: 40%;
  border: none;
  outline: none;
  background-color: #ff52bf;
  color: white;
  font-weight: 700;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
  cursor: pointer;
}

.footer .attribution {
  font-size: 11px;
  color: #a7b9c8;
  text-align: center;
  margin-bottom: 0;
}

.footer .attribution a {
  font-size: 11px;
  color: #ff52bf;
}
/*# sourceMappingURL=main.css.map */