$primary-color: hsl(322, 100%, 66%);
$dark-primary: #7a1756;
$neutral-dark: hsl(192, 100%, 9%);
$neutral-light: #a7b9c8;
$blue-accent-light: hsl(207, 100%, 98%);

@mixin media-lg {
  @media screen and (min-width: 768px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

// Utility styles

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include media-lg {
    flex-direction: row;
  }
}

.btn-primary {
  padding: 1rem 3rem;
  color: white;
  background-color: $primary-color;
  border: none;
  border-radius: 2rem;
  font-weight: 700;
  box-shadow: 0 1px 15px -10px $dark-primary;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-primary:hover {
  box-shadow: 0 4px 15px -6px $dark-primary;
}

.btn-secondary {
  padding: 0.75rem 1.5rem;
  color: $primary-color;
  background-color: white;
  font-size: 0.9rem;
  border: 1px solid $primary-color;
  border-radius: 2rem;
  box-shadow: 0 1px 15px -10px $dark-primary;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-secondary:hover {
  box-shadow: 0 3px 15px -7px $dark-primary;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;

  @include media-lg {
    font-size: 2.25rem;
  }
}

.heading-2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;

  @include media-lg {
    font-size: 2rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

// Main Styles

.header {
  padding: 2rem 0;

  .flex {
    flex-direction: row;
  }

  .logo {
    width: 175px;
  }
}

.hero {
  text-align: center;
  padding: 2rem 0;

  p {
    max-width: 700px;
    margin: 0 auto 2rem;
  }

  &-img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 4rem auto;
  }

  .flex {
    justify-content: space-around;
  }

  .flex-item {
    text-align: left;
    margin: 2rem 0;
  }

  .count {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
  }

  .count-label {
    text-align: center;
    font-weight: 600;
    color: $neutral-light;
    font-size: 1.25rem;
  }
}

.grow {
  background-color: $blue-accent-light;
  background-image: url(../images/bg-section-top.svg), url(../images/bg-section-bottom.svg);
  background-size: 500px;
  background-position: top center, bottom -1px center;
  background-repeat: repeat-x;
  padding: 200px 0;
  text-align: center;

  @include media-lg {
    text-align: left;
    background-size: 1200px;
  }

  .flex {
    @include media-lg {
      flex-direction: row-reverse;
    }
  }

  .flex-item {
    @include media-lg {
      width: 600px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.flowing {
  padding: 120px 0 120px;
  text-align: center;

  @include media-lg {
    text-align: left;
  }

  .flex-item {
    @include media-lg {
      width: 600px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.users {
  background-color: $blue-accent-light;
  background-image: url(../images/bg-section-top.svg), url(../images/bg-section-bottom.svg);
  background-size: 500px;
  background-position: top center, bottom -1px center;
  background-repeat: repeat-x;
  padding: 200px 0;
  text-align: center;

  @include media-lg {
    text-align: left;
    background-size: 1200px;
  }

  .flex {
    @include media-lg {
      flex-direction: row-reverse;
    }
  }

  .flex-item {
    @include media-lg {
      width: 600px;
    }
  }

  img {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.call-out {
  padding: 200px 0;
  text-align: center;
}

.footer {
  background-color: $neutral-dark;
  background-image: url(../images/bg-footer-top.svg);
  background-size: 500px;
  background-position: top center;
  background-repeat: repeat-x;
  padding: 150px 0 1rem;
  color: white;

  @include media-lg {
    background-size: 1300px;
    padding: 200px 0 1rem;
  }

  .flex {
    flex-direction: column-reverse;

    @include media-lg {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .flex-item {
    @include media-lg {
      width: 600px;
    }
  }

  .heading-2 {
    margin-bottom: 1rem;
  }

  .flex-item {
    margin-bottom: 3rem;
  }

  .logo {
    width: 170px;
    margin-bottom: 2rem;
  }

  &-info {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    img {
      margin-right: 1rem;
    }

    p {
      margin: 0;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  .social-icons {
    display: flex;
    width: 120px;
    justify-content: space-between;
    margin: 2rem 0;

    a {
      color: white;
      transition: transform 0.5s ease-out;
    }

    a:hover {
      transform: translateY(-10px);
    }
  }

  .subscribe {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media-lg {
      flex-direction: row;
    }

    #email {
      display: block;
      width: 100%;
      padding: 0.75rem;
      margin-bottom: 0.75rem;
      border-radius: 0.25rem;
      border: none;
      outline: none;

      @include media-lg {
        margin-bottom: 2rem;
        margin-right: 1rem;
      }
    }

    &-btn {
      display: block;
      padding: 0.75rem 2rem;
      border-radius: 0.25rem;
      width: 40%;
      border: none;
      outline: none;
      background-color: $primary-color;
      color: white;
      font-weight: 700;
      align-self: flex-end;
      margin-bottom: 2rem;
      cursor: pointer;
      transition: background-color 0.5s ease-out;
    }

    &-btn:hover {
      background-color: #ff96d8;
    }
  }

  .attribution {
    font-size: 11px;
    color: $neutral-light;
    text-align: center;
    margin-bottom: 0;

    a {
      font-size: 11px;
      color: $primary-color;
    }
  }
}
